MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=paper_tracker
FRONTEND_ORIGIN=http://localhost:5173
ADMIN_USER_ID=adminbrc
ADMIN_PASSWORD=brc@123
MANAGER_USER_ID=managerbrc
MANAGER_PASSWORD=brc@123
MANAGER_DISPLAY_NAME=Paper Tracker Manager
